Repository eonseed/perspt, pull requests merged in 2025-06, with the labels that each got.

#33 PSP automation workflow update
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/psp-automation.yml
  .github/workflows/psp-docs.yml
  .github/workflows/psp-status-management.yml
  src/config.rs
  src/llm_provider.rs
  src/main.rs
  src/ui.rs
  tests/panic_handling_test.rs
Labels: bug, github_actions

#37 fix: minor change in simple cli PSP.
  docs/psps/source/psp-XXXXXX-simple-cli-mode.rst
Labels: enhancement

#39 fix: psp 00003 file name as the automation workflow is incorrect.
  docs/psps/source/psp-000003.rst
  docs/psps/source/psp-XXXXXX-simple-cli-mode.rst
Labels: bug

#43 PSP-000003 Implementation related to #41
  README.md
  docs/perspt_book/source/changelog.rst
  docs/perspt_book/source/developer-guide/architecture.rst
  docs/perspt_book/source/developer-guide/contributing.rst
  docs/perspt_book/source/developer-guide/extending.rst
  docs/perspt_book/source/developer-guide/index.rst
  docs/perspt_book/source/developer-guide/testing.rst
  docs/perspt_book/source/getting-started.rst
  docs/perspt_book/source/index.rst
  docs/perspt_book/source/user-guide/basic-usage.rst
  docs/psps/source/psp-000000.rst
  src/cli.rs
  src/config.rs
  src/main.rs
Labels: documentation, enhancement, psp-discussion
